.kaufman__triangle {
    background-image: url(/Users/Admin/Desktop/dev/how-to-learn/images/kaufman-triangle.svg);
    background-size: contain;
    position: absolute;
    right: -210px;
    top: 0;
    width: 877px;
    height: 877px;
    margin: 0;
    z-index: 1;
  }